<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>forgotpassword</title>
    <link rel="shortcut icon" href="img/fav.png" />
    <link rel="stylesheet" href="/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
  </head>
  <style>
    .password-input {
      position: relative;
    }

    .password-input input {
      padding-right: 150px; /* Adjust as needed */
    }

    .toggle-password {
      position: absolute;
      right: 10px; /* Adjust as needed */
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .toggle-password i {
      cursor: pointer;
    }
  </style>
  <body>
    <div class="otpcontainer" id="otpcontainer">
        <div class="form-containe sign-in-containe">
            <form id="submitNewPassword">
                <h2>set new password</h2>
                <span>Enter new password</span>
                <span class="error-message" style="color: red;"></span>
                <div class="password-input">
                    <input name="password" id="password" type="password" placeholder="Password" />
                    <span class="toggle-password" onclick="togglePasswordVisibility('password', 'toggleIcon')">
                        <i class="fas fa-eye" id="toggleIcon"></i>
                    </span>
                </div>
                <span id="passwordSpan" style="color: red;"></span>
                <div class="password-input">
                    <input name="password2" id="password2" type="password" placeholder="Confirm Password" />
                    <span class="toggle-password" onclick="togglePasswordVisibility('password2', 'toggleIcon2')">
                        <i class="fas fa-eye" id="toggleIcon2"></i>
                    </span>
                </div>
                <span id="password2Span" style="color: red;"></span>
                <button type="submit">Save new password</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      function verifypassword() {
        let password1 = document.getElementById("password").value;
        let password2 = document.getElementById("password2").value;

        if (password1 == "") {
          document.getElementById("passwordSpan").innerHTML =
            "*please write your password*";
          return false;
        }
        if (password1.length < 8) {
          document.getElementById("passwordSpan").innerHTML =
            "*please write password Atleast 8 charaters*";
          return false;
        }
        if (password1.search(/[0-9]/) == -1) {
          document.getElementById("passwordSpan").innerHTML =
            "*please write password Atleast 1 Numeric character";
          return false;
        }
        if (password1.search(/[a-z]/) == -1) {
          document.getElementById("passwordSpan").innerHTML =
            "*please write password Atleast 1 lower case character";
          return false;
        }
        if (password1.search(/[A-Z]/) == -1) {
          document.getElementById("passwordSpan").innerHTML =
            "*please write password Atleast 1 upper case character";
          return false;
        }
        if (password1.search(/[!\@\#\$\%\^\&\*\(\)\_\-\+\=\<\>\,\?]/) == -1) {
          document.getElementById("passwordSpan").innerHTML =
            "*please write password Atleast 1 special symbol in the character";
          return false;
        } else {
          document.getElementById("passwordSpan").innerHTML = "";
        }
        if (password2 !== password1) {
          document.getElementById("password2Span").innerHTML =
            "*password not matches";
          return false;
        } else {
          document.getElementById("password2Span").innerHTML = "";
          return true;
        }
      }

//password eye 
function togglePasswordVisibility(inputId, iconId) {
            const passwordInput = document.getElementById(inputId);
            const toggleIcon = document.getElementById(iconId);
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            }
        }


      //form submission
      if (verifypassword()) function changePassword() {}
      const newPasswordForm = document.querySelector("#submitNewPassword");
      newPasswordForm.addEventListener("submit", async (event) => {
        event.preventDefault();

        if (verifypassword()) {
          const formData = new FormData(newPasswordForm);
          const password = formData.get("password");

          try {
            const response = await fetch("/save-new-password", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                password,
              }),
            });

            if (response.ok) {
              window.location.href = "/login";
            } else {
              const errorData = await response.json();
              const errorMessage = errorData.message || "An error occurred";
              // document.querySelector(".error-message-signup").textContent = errorMessage;
              throw new Error(errorMessage);
            }
          } catch (error) {
            document.querySelector(".error-message").textContent =
              error.message;
            setTimeout(() => {
              document.querySelector(".error-message").textContent = null;
            }, 5000);
          }
          //    finally {
          //     hideLoadingScreen();
          //   }
        }
      });
    </script>
  </body>
</html>
