body{
  
}

#app{
  padding: 40px 0;
}

.m-pagination{
  .is-space{
    width: 20px;
  }
}

.m-table{
  margin-top: 20px;
  
  tr th{
    background: #c0c0c0;
    color: #393939;
  }
}

.m-table-index{
  width: 20px;
}

.m-tags-items{
  margin-top: 5px;
  height: 60px;
  overflow-y: scroll;
  
  .tag{
    margin-bottom: 5px;
    margin-right: 3px;
  }
}