<script>
document.addEventListener("DOMContentLoaded", function () {

  const currentPath = window.location.pathname;

  const navLinks = document.querySelectorAll('.nav-link');

  navLinks.forEach(link => {
    const linkPath = link.getAttribute('href');

    if (currentPath === linkPath) {
      link.parentElement.classList.add('active');
    }
  });
});
</script>
<script src="/adminpublic/js/jquery-3.3.1.min.js"></script>
<script src="/adminpublic/js/moment.min.js"></script>
<script src="/adminpublic/js/Chart.min.js"></script>
<script src="/adminpublic/js/bootstrap.min.js"></script>
<script src="/adminpublic/js/tooplate-scripts.js"></script>
<script>
    Chart.defaults.global.defaultFontColor = 'white';
    let ctxLine,
        ctxBar,
        ctxPie,
        optionsLine,
        optionsBar,
        optionsPie,
        configLine,
        configBar,
        configPie,
        lineChart;
    barChart, pieChart;
    // DOM is ready
    $(function () {
        drawLineChart(); // Line Chart
        drawBarChart(); // Bar Chart
        drawPieChart(); // Pie Chart

        $(window).resize(function () {
            updateLineChart();
            updateBarChart();                
        });
    })
</script>
</body>

</html>