<h4 class="text-center">Account Details</h4>

<h4>Password change</h4>
<div class="row">
  <div class="col-md-12">
    <input
      class="form-control"
      type="password"
      placeholder="Current Password"
    />
  </div>
  <div class="col-md-6">
    <input class="form-control" type="text" placeholder="New Password" />
  </div>
  <div class="col-md-6">
    <input class="form-control" type="text" placeholder="Confirm Password" />
  </div>
  <div class="col-md-12">
    <button class="btn">Save Changes</button>
  </div>
</div>
