<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>karma</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="eCommerce HTML Template Free Download" name="keywords" />
    <meta content="eCommerce HTML Template Free Download" name="description" />

    <!-- Favicon -->
    <!-- <link href="/img/favicon.ico" rel="icon" /> -->
    <link rel="shortcut icon" href="img/fav.png" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap"
      rel="stylesheet"
    />

    <!-- CSS Libraries -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link href="/lib/slick/slick.css" rel="stylesheet" />
    <link href="/lib/slick/slick-theme.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/etalage.css" />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Etalage Plugin -->
    <script src="/js2/jquery.etalage.min.js"></script>
    
    <script>
      jQuery(document).ready(function ($) {
        $('#etalage').etalage({
          thumb_image_width: 380,
          thumb_image_height: 400,
          source_image_width: 900,
          source_image_height: 1000,
          show_hint: true
        });
      });
    </script>
  </head>


  <body>
    <!-- Top bar Start -->
    <div class="top-bar">
      <div class="container-fluid">
        <div class="row" style="margin-right: 30px;">
          <div class="col-sm-6">
            <i class="fa fa-envelope"></i>
            support@email.com
          </div>
          <div class="col-sm-6">
            <i class="fa fa-phone-alt"></i>
            +012-345-6789
          </div>
        </div>
      </div>
    </div>
    <!-- Top bar End -->

    <!-- Nav Bar Start -->
    <div class="nav">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <a href="#" class="navbar-brand">MENU</a>
          <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarCollapse"
          >
            <div class="navbar-nav mr-auto">
              <a href="/" class="nav-item nav-link active">Home</a>
              <a href="/category" class="nav-item nav-link">Products</a>
              <a href="/Contact" class="nav-item nav-link">Contact</a>
              <% if (locals.user) { %>
                <a href="/cart" class="nav-item nav-link">Cart</a>
              <a href="/user-profile" class="nav-item nav-link">My Account</a>
              <%}%>
            </div>

            <% if (locals.user) { %>
            <div class="dropdown">
              <a
                class="user-icon dropdown-toggle"
                href="/user-profile"
                role="button"
                id="userDropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  id="imagePreview"
                  class="rounded-circle"
                  src="<%= user.profilePicture %>"
                  width="40"
                  height="40"
                  alt="Profile Image"
                />
              </a>
              <div class="dropdown-menu" aria-labelledby="userDropdown">
                <a class="dropdown-item text-white" href="/user-profile"
                  >Profile</a
                >
                <a href="" class="dropdown-item logoutLink text-white"
                  >Logout</a
                >
              </div>
            </div>
            <% } else { %>
            <a href="/login" class="text-white">
              <span>Login</span>
            </a>
            <% } %>
          </div>
        </nav>
      </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Bottom Bar Start -->
    <div class="bottom-bar">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-md-3">
            <div class="logo">
              <a href="index.html">
                <img src="/img/logo.png" alt="Logo" />
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="search">
              <input type="text" placeholder="Search" />
              <button><i class="fa fa-search"></i></button>
            </div>
          </div>
        <%  if (locals.user) { %>
          <div class="col-md-3">
            <div class="user">
              <a href="/wishlist" class="btn wishlist">
                <i class="fa fa-heart"></i>
                <span>0</span>
              </a>
              <a href="/cart" class="btn cart">
                <i class="fa fa-shopping-cart"></i>
                <span><%=cartLength ? cartLength : 0 %></span>
              </a>
            </div>
          </div>
          <%}%>
        </div>
      </div>
    </div>
    <!-- Bottom Bar End -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      const logoutLink = document.querySelector(".logoutLink");

logoutLink.addEventListener("click", async (event) => {
    event.preventDefault();
    Swal.fire({
        title: "Are you sure?",
        text: "Do you want to logout?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, Logout!"
    }).then(async (result) => {
        if (result.isConfirmed) {
            Swal.fire({
                title: "Successfully logged out",
                icon: "success",
                showCancelButton: false,
                confirmButtonColor: "#3085d6",
                confirmButtonText: "OK",
            }).then(async (result) => {
                if (result.isConfirmed) {
                    const response = await fetch("/auth/logout", {
                        method: "POST",
                    });
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                }
            });
        }
    });
});

    </script>
  </body>
</html>
