<div class="profile-reviews tab">
<div class="list">
    <div class="heading">
      <h4>Order List</h4>
      <!-- <i class="fas fa-ellipsis-h"></i> -->
    </div>
    <!-- <form>
      <input type="search" placeholder="Invoice Search">
      <input type="text" placeholder="Search by Title">
      <input type="phone" placeholder="Search by Phone">
      <input type="submit" value="Search">
    </form> -->
    <div class="main">
      <!-- <input type="checkbox"> -->
      <span class="invoice">
        <span>Invoice</span>
      </span>
      <span class="image">
        <span>Image</span>
      </span>
      <span class="menu">
        <span>Menu</span><i class="fas fa-sort-down fa-sm"></i>
      </span>
      <span class="customer">
        <span>Date</span>
      </span>
      <span class="quantity">
        <span>Quantity</span>
      </span>
      <span class="amount">
        <span>Amount</span><i class="fas fa-sort-down fa-sm"></i>
      </span>
      <span class="status">
        <span>Order Status</span><i class="fas fa-sort-down fa-sm"></i>
      </span>
    </div>
    <div class="items">
      <div class="item">
        <!-- <div class="check">
          <input type="checkbox">
          <span class="geekmark"></span>
        </div> -->
        <span># 1150</span>
        <img src="https://i.postimg.cc/d1bVjpHd/01.jpg">
        <span>Cheese Pizza</span>
        <span>Mark Willy</span>
        <span>05</span>
        <span>$2,590</span>
        <button>Confirmed</button>
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <div class="item">
        <span># 1151</span>
        <img src="https://i.postimg.cc/13s4Tx9r/02.jpg">
        <span>Big Burger</span>
        <span>Mithila Zaman</span>
        <span>03</span>
        <span>$1,590</span>
        <button>Pending</button>
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <!-- <div class="item">
        <input type="checkbox">
        <span># 1152</span>
        <img src="https://i.postimg.cc/ncYhqdvj/03.jpg">
        <span>Chicken Pasta</span>
        <span>Siddikur Rahman</span>
        <span>05</span>
        <span>$2,590</span>
        <button>Confirmed</button>
        <span>+123 9856047</span>
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <div class="item">
        <input type="checkbox">
        <span># 1153</span>
        <img src="https://i.postimg.cc/3xtrcdf3/04.png">
        <span>Chicken Pizza</span>
        <span>Siddikur Rahman</span>
        <span>05</span>
        <span>$2,590</span>
        <button>Confirmed</button>
        <span>+123 9856047</span>
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <div class="item">
        <input type="checkbox">
        <span># 1154</span>
        <img src="https://i.postimg.cc/yNrdkk0L/05.jpg">
        <span>Big Burger</span>
        <span>Mithila Zaman</span>
        <span>03</span>
        <span>$1,590</span>
        <button>Pending</button>
        <span>+123 9856047</span>
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <div class="item">
        <input type="checkbox">
        <span># 1155</span>
        <img src="https://i.postimg.cc/8PVCJ8rg/06.png">
        <span>Chicken Pasta</span>
        <span>Siddikur Rahman</span>
        <span>05</span>
        <span>$2,590</span>
        <button>Confirmed</button>
        <span>+123 9856047</span>
        <i class="fas fa-ellipsis-h"></i>
      </div>
    </div> -->
    <div class="bottom">
      <div class="showing">
        <span>Showing 1-30 / 150 Results</span>
      </div>
      <div class="number">
        <span>Previous</span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>Next</span>
      </div>
    </div>
  </div>
</div>