<div class="profile-posts tab">
  <h1>Your Account</h1>
  <button style="margin-left:700px ;">Edit profile</button>
  <hr>
  <span style="padding-right: 80px; font-size: large; font-weight: 500;">Name:</span>
<label for="name">Sribin</label>
<hr>
<span style="padding-right: 50px; font-size: large; font-weight: 500;">Gmail:</span>
<label for="gmail"> Gmail</label>
<hr>
<span style="padding-right: 50px; font-size: large; font-weight: 500;">Phone number:</span>
<label for="gmail"> Gmail</label>
</div>
