<%- include('../admin-partials/header'); %>
<div class="container tm-mt-big tm-mb-big">
  <div class="row">
    <div class="col-lg col-md-12 col-sm-12 mx-auto this is the div">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <!-- <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block" style="width: fit-content;">Add Product</h2>
          </div>
        </div> -->
        <!-- First Row: Photos -->
        <div class="row tm-edit-product-row">
        <div class="row tm-edit-product-row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group mb-3">
                  <label for="name" style="color: white;">Coupen Name</label>
                  <input id="name" name="name" type="text" class="form-control validate" required style="background-color: white; color: black;" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group mb-3">
                  <label for="name" style="color: white;">Coupen Code</label>
                  <input id="name" name="name" type="text" class="form-control validate" required style="background-color: white; color: black;" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="form-group mb-3">
                  <label for="description" style="color: white;">Description</label>
                  <textarea class="form-control validate" rows="1" required style="background-color: white;"></textarea>
                </div>
              </div>
              <div class="row tm-edit-product-row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group mb-3">
                        <label for="expiryDate" style="color: white;">Expiry Date</label>
                        <input id="expiryDate" name="expiryDate" type="text" class="form-control validate" required style="background-color: white; color: black;" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group mb-3">
                        <label for="minOrderAmount" style="color: white;">Minimum Order Amount</label>
                        <input id="minOrderAmount" name="minOrderAmount" type="text" class="form-control validate" required style="background-color: white; color: black;" />
                    </div>
                </div>
            </div>            
        </div>
        <hr>
        <!-- Submit Button -->
        <div class="row tm-edit-product-row">
          <div class="col-12" style="display: flex; justify-content: center;">
            <button type="submit" class="btn btn-primary  text-uppercase">Add Coupen Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../admin-partials/footer'); %>

