<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blocked</title>
</head>
<style>
    HTML CSSResult Skip Results Iframe
html,
body {
  height: 100%;
  width: 100%;
  background: #1C3144;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  width: auto;
}

.message-box {
  color: white;
  font-weight: bold;
  width: 600px;
  text-align: center;
}

.title {
  color: #31E981;
  font-size: 50px;
}

.message {
  font-size: 20px;
}

.mail-to {
  display: block;
  color: white;
  font-size: 18px;
}
</style>
<body>
    <div class="container">
        <div class="row">
           <div class="message-box">
             <h1 class="title">Ooops! Website Blocked!</h1>
             <p class="message">The requested website is blocked. If you need access to the website click below.</p>
             <a href="mailto:sribink24@gmail.com" class="mail-to">Request access to website</a>
          </div>
        </div>
      </div>
</body>
</html>